Repository ls1intum/Ares, pull requests merged in 2021-11, with the labels that each got.

#152 Fix issues with default package and handle same classnames in multiple packages
  src/main/java/de/tum/in/test/api/structural/StructuralTestProvider.java
  src/main/java/de/tum/in/test/api/structural/testutils/ClassNameScanner.java
Labels: bug, java, structural-tests

#156 `Structured tests`: Add strictOrder for parameters
  src/main/java/de/tum/in/test/api/structural/ConstructorTestProvider.java
  src/main/java/de/tum/in/test/api/structural/MethodTestProvider.java
  src/main/java/de/tum/in/test/api/structural/StructuralTestProvider.java
  src/test/java/de/tum/in/test/api/DynamicsTest.java
  src/test/java/de/tum/in/test/api/StructuralTest.java
  src/test/java/de/tum/in/testuser/subject/structural/SomeClass.java
  src/test/java/de/tum/in/testuser/subject/structural/SomeFailingClass.java
  src/test/resources/de/tum/in/testuser/test.json
Labels: enhancement, java, structural-tests

#157 Update jqwik from 1.3.4 to 1.6.0
  .gitignore
  .jqwik-database
  pom.xml
  src/main/java/de/tum/in/test/api/TrustedThreads.java
  src/main/java/de/tum/in/test/api/internal/ConfigurationUtils.java
  src/main/java/de/tum/in/test/api/internal/sanitization/ThrowableSets.java
  src/main/java/de/tum/in/test/api/jqwik/Hidden.java
  src/main/java/de/tum/in/test/api/jqwik/JqwikStrictTimeoutExtension.java
  src/main/java/de/tum/in/test/api/jqwik/Public.java
  src/main/java/de/tum/in/test/api/jqwik/package-info.java
  src/main/java/de/tum/in/test/api/security/ArtemisSecurityConfiguration.java
  src/main/java/de/tum/in/test/api/security/ArtemisSecurityConfigurationBuilder.java
  src/main/java/de/tum/in/test/api/security/ArtemisSecurityManager.java
  src/test/java/de/tum/in/test/api/SecurityTest.java
  src/test/java/de/tum/in/test/api/security/ArtemisSecurityConfigurationTest.java
  src/test/java/de/tum/in/testuser/JqwickUser.java
  src/test/java/de/tum/in/testuser/SecurityUser.java
  src/test/java/de/tum/in/testuser/ThreadUser.java
  src/test/java/de/tum/in/testuser/subject/SecurityPenguin.java
  src/test/java/org/apache/xyz/Circumvention.java
  src/test/java/org/apache/xyz/FakeTrustedClass.java
Labels: enhancement, dependencies
